<!doctype html>
<html>
<head>
    <title>GNUber</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body { 
            padding-top:80px; 
        }
        html, body, #map-canvas {
            height: 100%;
            margin: 0px;
            padding: 0px
        }
    </style>
        <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>

        <script>
        var map;
        var bounds = new google.maps.LatLngBounds();
        function initialize() {
          var mapOptions = {
            zoom: 10
            // center: new google.maps.LatLng(<%= rider.lat %>, <%= rider.lng %>)
          };
          map = new google.maps.Map(document.getElementById('map-canvas'),
              mapOptions);
        


            <% for(var i=0; i<drivers.length; i++) {%>
                var myLatlng = new google.maps.LatLng(<%=  drivers[i].lat %>, <%=  drivers[i].lng %>);
                var marker = new google.maps.Marker({
                                    position: myLatlng,
                                    map: map,
                                    title: 'KFHJS'
                                    // title: 'Hello World!'
                                });
                bounds.extend(marker.position);
                console.log(marker);
            <%}%> 
            map.fitBounds(bounds);

        }

        
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
</head>
<body>
<div class="container">



    <div class="jumbotron text-center">
        <h1>GNUber</h1>

        <p>Nearest Cabs</p>
    </div>
    <table width="80%">
    <tr>
        <td>
        <ul>
        <% for(var i=0; i<drivers.length; i++) {%>
            <li><a href="/reserveDriver/<%=  drivers[i].cabid %>"><%=  drivers[i].cabid %> :: <%= drivers[i].distance %> miles away </a></li>
        <% } %>
        </ul>
        </td>
        <td>


    <div id="map-canvas" style="width:600px;height:450px"></div>



        </td>
        </tr>
    </table>


</div> 
<br>

</body>
</html>